@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>DemoAPP</title>
</head>
<body>
    <h1>DemoAPP</h1>
    <p>Welcome to the DemoAPP!</p>
    <p>CiCD works like a charm!</p>
</body>
</html> 